h1 {
    font-size: 35px;
    color: lightgray;
}
body {
    background: black;
    color: dimgrey;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.cell {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 2px solid #606060;
    display: inline-block;
    margin: 3px;
    font-size: 30px;
    font-weight: bold;
    color: lightgray;
}
button {
    width: 35px;
    height: 50px;
    border: 0.1em solid grey;
    text-align: center;
    border-radius: 5px;
    background: grey;
    color: white;
}

button.delete {
    width: 55px;
}
button.enter {
    width: 55px;
}
table {
    margin: auto;
}
tr {
    margin: auto;
}
